@font-face {
    font-weight: normal;
    font-family: "Concert One";
    src: url(../fonts/ConcertOne-Regular.ttf);
}

body {
    font-family: "Concert One";
}

.banner {
    height: 100vh;
    display: flex;
    text-transform: uppercase;

    background-size: contain;
    background-color: #FCEBD6;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url("../images/banner_bg.png");
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

.info {
    padding: 1rem 0;
}

.info .title,
.info .save-the-date,
.info .local {
    color: #FF8C03;
}

.info .description,
.info .date,
.info .subscriptions-soon {
    color: #0090C9;
}

.info .title {
    font-size: 64px;
    line-height: 90px;
}

.info .description {
    font-size: 24px;
}

.info .save-the-date {
    font-size: 43px;
    line-height: 55px;
    margin-top: 20px;
}

.info .date,
.info .local,
.info .subscriptions-soon {
    font-size: 24px;
    line-height: 40px;
}
