@font-face {
  font-weight: normal;
  font-family: "Concert One";
  src: url(../fonts/ConcertOne-Regular.ttf);
}

@font-face {
  font-weight: normal;
  font-family: "Roboto";
  src: url(../fonts/RobotoRegular.woff2);
}

body {
  overflow-x: hidden;
  font-family: "Concert One";
  background-color: #FCEBD6;
}

.wrapper {
  padding: 24px;
}

.social-media-icon {
  color: #FF8C03;
  cursor: pointer;
}

.header {
  text-align: center;
}

.banner {
  height: 100vh;
  display: flex;
  background-size: contain;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url("../images/banner.svg");
}

.banner .section .title {
  font-size: 60px;
  color: #FF8C03;
}

.banner .section .description {
  font-size: 23px;
  color: #0090C9;
}

.banner .section .save-the-date {
  font-size: 37px;
  color: #FF8C03;
}

.banner .section .date,
.banner .section .location,
.banner .section .closed-applications {
  font-size: 23px;
  line-height: 32px;
}

.banner .section .date,
.banner .section .location {
  color: #0090C9;
}

.banner .section .closed-applications {
  color: #FF8C03;
}

.banner .section .register-btn {
  font-size: 23px;
  margin-top: 26px;
  color: #FCEBD6;
  line-height: 32px;
  border-radius: 5px;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  padding: 5px 15px 15px;
  justify-content: center;
  background-color: #0090C9;
  transition: background-color .2s;
}

.banner .section .register-btn:hover {
  background-color: #3BACE2;
}

.banner .section:last-child {
  margin-top: 15px;
}

.content .section-title {
  text-align: center;
}

.content .section-title h1,
.content .section-title h2 {
  color: #FF8C03;
  font-weight: normal;
  text-transform: uppercase;
}

.content .section-title h1 {
  margin: 44px 0;
  font-size: 44px;
}

.content .section-title h2 {
  margin: 24px 0;
  font-size: 24px;
}

.content .wrapper {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.content .divider {
  width: 100%;
  height: 6px;
  border-radius: 4px;
  margin-bottom: 48px;
  background-color: #FF8C03;
}

.content .lecture {
  display: flex;
  flex-direction: column;
}

.content .lecture .speaker-photo-wrapper {
  width: 162px;
  margin: 0 auto;
  min-height: 200px;
  position: relative;
}

.content .lecture .speaker-photo-wrapper .speaker-photo {
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 6px solid;
  border-radius: 50%;
  position: absolute;
  object-position: top;
}

.content .lecture .speaker-photo-wrapper .speaker-photo.blue {
  border-color: #0090C9;
}

.content .lecture .speaker-photo-wrapper .speaker-photo.orange {
  border-color: #FF8C03;
}

.content .lecture .speaker-photo-wrapper .gopher {
  left: 120px;
  height: 80px;
  position: absolute;
}

.content .lecture .speaker-photo-wrapper .gopher.gopher-1 {
  bottom: 0;
  height: 100px;
}

.content .lecture .speaker-photo-wrapper .gopher.gopher-2 {
  left: 110px;
  bottom: -4px;
  height: 90px;
}

.content .lecture .speaker-photo-wrapper .gopher.gopher-3 {
  bottom: -10px;
}

.content .lecture .info-container {
  flex: 1;
}

.content .lecture .info-container .title {
  display: block;
  font-size: 30px;
}

.content .lecture .info-container .title.orange {
  color: #FF8C03;
}

.content .lecture .info-container .title.blue {
  color: #0090C9;
}

.content .lecture .info-container .description {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 48px;
  font-family: 'Roboto';
}

.content .lecture .info-container .description.orange {
  color: #FF8C03;
}

.content .lecture .info-container .description.blue {
  color: #0090C9;
}

.content .sponsors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .sponsors .sponsor img {
  height: 60px;
  filter: /* Turn into black */ brightness(0) saturate(100%) /* Turn into #586870 */ invert(40%) sepia(21%) saturate(318%) hue-rotate(155deg) brightness(92%) contrast(90%);
}

.footer {
  padding: 100px 0 48px;
}

.footer .social-media-wrapper {
  width: 166px;
  height: 45px;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  background-size: contain;
  justify-content: space-between;
  background-position: left bottom;
  background-image: url(../images/footer.svg);
}

.footer .social-media-wrapper .social-media-icon {
  font-size: 22px;
}

.footer .social-media-wrapper .left-side,
.footer .social-media-wrapper .right-side {
  width: 50px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

@media only screen and (min-width: 64em) {
  .wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }

  .header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    line-height: 0;
    text-align: left;
    position: absolute;
  }

  .banner {
    background-size: 95vh;
    background-position: center right;
  }

  .banner .section .title {
    font-size: 100px;
  }

  .banner .section .description {
    font-size: 37px;
  }

  .banner .section .save-the-date {
    font-size: 60px;
  }

  .banner .section .date,
  .banner .section .location,
  .banner .section .closed-applications {
    font-size: 37px;
    line-height: 48px;
  }

  .banner .section .register-btn {
    font-size: 37px;
    margin-top: 40px;
    line-height: 48px;
    padding: 5px 20px 20px;
  }

  .content .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .content .section-title h1 {
    margin: 70px 0;
    font-size: 70px;
  }

  .content .section-title h2 {
    margin: 38px 0;
    font-size: 38px;
  }

  .content .lecture {
    display: flex;
    flex-direction: row;
  }

  .content .lecture .speaker-photo-wrapper {
    margin: 0 60px;
  }

  .content .sponsors .sponsor img {
    height: 100px;
  }
}
