@font-face {
    font-weight: normal;
    font-family: "Concert One";
    src: url(../fonts/ConcertOne-Regular.ttf);
}

body {
    font-family: "Concert One";
}

.banner {
    height: 100vh;
    display: flex;
    text-transform: uppercase;

    background-size: contain;
    background-color: #FCEBD6;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url("../images/banner_bg.png");
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

.info {
    padding: 1rem 0;
}

.text-section {
    text-align: center;
}

.info .title,
.info .save-the-date,
.info .local {
    color: #FF8C03;
}

.info .description,
.info .date,
.info .subscriptions-soon {
    color: #0090C9;
}

@media (orientation: portrait) {
    .wrapper {
        align-items: flex-start !important;
    }

    .text-section {
        text-align: center !important;
    }

    .info .title {
        font-size: 15vw;
        line-height: 8vh;
    }

    .info .save-the-date {
        font-size: 10vw;
        margin-top: 2vh;
    }

    .info .description,
    .info .date,
    .info .local,
    .info .subscriptions-soon {
        font-size: 5.5vw;
        line-height: 4vh;
    }
}

@media (orientation: landscape) {
    .wrapper {
        align-items: center;
    }

    .text-section {
        text-align: left;
    }

    .info .title {
        font-size: 15vh;
        line-height: 8vw;
    }

    .info .save-the-date {
        font-size: 10vh;
        margin-top: 2vw;
    }

    .info .description,
    .info .date,
    .info .local,
    .info .subscriptions-soon {
        font-size: 5.5vh;
        line-height: 4vw;
    }
}

@media only screen and (min-width: 64em) {
    .wrapper {
        align-items: center;
    }

    .text-section {
        text-align: left;
    }

    .info .title {
        font-size: 64px;
        line-height: 90px;
    }

    .info .save-the-date {
        font-size: 43px;
        line-height: 55px;
        margin-top: 20px;
    }

    .info .description,
    .info .date,
    .info .local,
    .info .subscriptions-soon {
        font-size: 24px;
        line-height: 40px;
    }
}
